Communication/WCFServiceTest/Service References/CommClient/CommunicationLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CommandData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CommandParams" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandData" nillable="true" type="tns:CommandData" />
  <xs:complexType name="ArrayOfStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusInfo" nillable="true" type="tns:StatusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusInfo" nillable="true" type="tns:ArrayOfStatusInfo" />
  <xs:complexType name="StatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InfoData" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="InfoDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusInfo" nillable="true" type="tns:StatusInfo" />
</xs:schema>